<header th:fragment="header" class="p-3 bg-dark text-white">
    <div>
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
            <ul id="curUser" class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"></ul>
            <div class="text-end">
                <li class="text-end btn btn-dark"><a th:href="@{/logout}">Logout</a></li>
            </div>
        </div>
    </div>
    <script>
        const curUrl = "/api/user";
        async function userById() {
            await fetch(curUrl)
                .then((res) => res.json())
                .then((user) => {
                    let data = "";
                    data +="<li class='bold nav-link px-2 text-white'>" + user.username + "</li>"
                    data +="<li class='nav-link px-2 text-white'>" + user.email +"</li>"
                    data +="<li class='nav-link px-2 text-secondary'>with roles:</li>"
                    data +="<li class='nav-link px-2 text-white'> " + user.roleSet + " </li>"
                    document.getElementById("curUser").innerHTML = data;
                });
        }
        userById();
    </script>
</header>
